/* Styles for QRCodeList component */
.list {
    display: flex;
}

.qrcode-list {
    margin-top: 1%;
    margin-left: 16%;
    padding: 1px 16px;
    height: 1000px;
    flex: 1;
    padding: 20px;
}

.qrcode-list h2 {
    margin-bottom: 20px;
}
